*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 325px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: clamp(16px, 1.04vw, 26px);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    background-color: #EFEFEF;
    user-select: none;
    display: none;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: clamp(70px, 3.95vw, 99px);
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 88%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    min-height: 10.47vw;
    align-items: center;
}
.logo {
    cursor: pointer;
    width: 10.05vw;
}
.navbar {
    display: flex;
    gap: 3.125vw;
    align-items: center;
}
.navbar button {
    background: none;
}
.navbar-item {
    color: #F5F5F5;
    font-size: clamp(14px, 1.04vw, 26px);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar button:disabled .navbar-item{
    color: #525252;
    cursor: default;
}
.navbar-item:hover {
    color: #D25109;
}
.navbar-item:active {
    color: #BC4F12;
}
/* main section */
.main-section {
    padding-bottom: 5.21%;
    z-index: -1;
}
.main-section-container {
    display: flex;
}
.main-text {
    flex: 1 1 50.52%;
    padding-top: 4.58%;
    padding-left: 6.77%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 1430px) {
    .main-text {
        padding-top: 6%;
    }
}
@media(max-width: 1280px) {
    .navbar {
        gap: 2.5vw;
    }
    .main-text {
        padding-top: 8%;
    }
}
.main-header {
    color: #D25109;
    margin-left: -0.16vw;
}
.main-paragraph {
    margin-top: 4.4%;
    width: 83.33%;
    color: #111;
    line-height: 1.32em;
}
.main-paragraph-item:not(:first-child) {
    margin-top: 1.86%;
}
.main-image {
    flex: 1 1 49.48%;
    position: relative;
    padding-top: 49.48%;
    z-index: -1;
}
.main-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.main-image-tablet {
    display: none;
}
/* galelry section */
.gallery-section {
    padding-top: 5.21%;
    padding-bottom: 4.79%;
}
.gallery-header {
    color: #111;
}
.gallery {
    margin-top: 1.24%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.04vw;
}
.gallery-image {
    width: 100%;
    position: relative;
    padding-top: 79.63%;
}
.gallery-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* footer */
.footer {
    padding-top: 2.08%;
    padding-bottom: 1.09%; 
    background: #111;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    width: 11.57%;
    padding-right: 3.31%;
}
.footer-some-text {
    color: #F5F5F5;
    font-size: clamp(10px, 0.78vw, 20px);
    cursor: default;
}
.contacts a {
    display: block;
    text-align: right;
    color: #F5F5F5;
    line-height: 1.32em;
}
.contacts a:hover {
    color: #D25109;
}
.contacts a:first-child {
    margin-bottom: 5.7%;
}
.advertising {
    width: fit-content;
    margin: 0 auto;
    margin-top: 3.8%;
    display: block;
    color: #575757;
    font-size: clamp(9px, 0.624vw, 16px);
    line-height: 1.32em;
}
@media(max-width: 1150px) {
    body {
        font-size: clamp(12px, 1.56vw, 16px);
    }
    h2 {
        font-size: clamp(28px, 7.42vw, 76px);
    }
    [class*="__container"] {
        max-width: 93.75%;
        padding: 0 10px;
    }
    /* header */
    .header-container {
        min-height: 17.38vw;
    }
    .logo {
        width: 12.1vw;
    }
    .navbar {
        margin-right: 0;
        gap: 5.07vw;
    }
    .navbar-item {
        color: #111;
        font-size: clamp(12px, 1.5vw, 16px);
    }
    /* main section */
    .main-section {
        padding-bottom: 2.44%;
        padding-top: 14.75%;
    }
    .main-section-container {
        max-width: 93.8%;
        margin: 0 auto;
        padding: 0 10px;
        flex-direction: column-reverse;
    }
    .main-text {
        padding-top: 5.31%;
        padding-left: 0;
    }
    .main-header {
        margin-left: 0;
    }
    .main-paragraph {
        margin-top: 3.5%;
        width: 100%;
    }
    .main-image-pc {
        display: none;
    }
    .main-image-tablet {
        display: block;
    }
    .main-image {
        padding-top: 58.6%;
    }
    /* galelry section */
    .gallery-section {
        padding-top: 2.4%;
        padding-bottom: 7.91%;
    }
    .gallery {
        margin-top: 4.04%;
        gap: 1.17vw;
    }
    /* footer */
    .footer {
        padding-top: 4.49%;
        padding-bottom: 1.95%;
    }
    .footer-logo {
        width: 14.47%;
        padding-right: 2.47%;
    }
    .footer-some-text {
        font-size: clamp(8px, 1.46vw, 15px);
    }
    .advertising {
        margin-top: 7.23%;
        font-size: clamp(6px, 1.17vw, 12px);
    }
}