*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 325px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: clamp(16px, 1.04vw, 26px);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    background-color: #EFEFEF;
    user-select: none;
    display: none;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: clamp(70px, 3.95vw, 99px);
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 88%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    min-height: 10.47vw;
    align-items: center;
}
.logo {
    cursor: pointer;
    width: 10.05vw;
}
.navbar {
    display: flex;
    gap: 3.125vw;
    align-items: center;
}
.navbar button {
    background: none;
}
.navbar-item {
    color: #F5F5F5;
    font-size: clamp(14px, 1.04vw, 26px);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar button:disabled .navbar-item{
    color: #525252;
    cursor: default;
}
.navbar-item:hover {
    color: #D25109;
}
.navbar-item:active {
    color: #BC4F12;
}
/* main section */
.main-section {
    padding-bottom: max(4.43%, 45px);
    z-index: -1;
}
.main-section-container {
    display: flex;
}
.main-text {
    flex: 1 1 50.52%;
    padding-top: 4.58%;
    padding-left: 6.77%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 1430px) {
    .main-text {
        padding-top: 6%;
    }
}
@media(max-width: 1280px) {
    .navbar {
        gap: 2.5vw;
    }
    .main-text {
        padding-top: 8%;
    }
}
.main-header {
    color: #D25109;
    margin-left: -0.16vw;
}
.main-paragraph {
    margin-top: 4.4%;
    width: 83.33%;
    color: #111;
    line-height: 1.32em;
}
.main-paragraph-item:not(:first-child) {
    margin-top: 15px;
}
.main-image {
    flex: 1 1 49.48%;
    position: relative;
    padding-top: 49.48%;
    z-index: -1;
}
.main-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.main-image-tablet {
    display: none;
}
/* galelry section */
.gallery-section {
    padding-top: max(4.43%, 45px);
    padding-bottom: max(8.85%, 80px);
}
.gallery-header {
    color: #111;
}
.gallery {
    margin-top: max(38px, 2.89%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.04vw;
}
.gallery-image {
    width: 100%;
    position: relative;
    padding-top: 79.63%;
}
.gallery-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.more-btn {
    display: none;
}
/* footer */
.footer {
    background: #111;
}
.footer-container {
    width: 86.46%;
    margin: 0 auto;
    border-left: 1px solid #727272;
    border-right: 1px solid #727272;
    padding: 0;
    padding-top: 2.5%;
    padding-bottom: 1.09%;
}
.footer-logo {
    display: block;
    margin: 0 auto;
    width: 135px;
}
.contacts {
    margin-top: 3.19%;
    display: flex;
    justify-content: center;
    gap: 7.76vw;
}
.contacts-link {
    line-height: 1.45em;
    color: #f5f5f5;
    white-space: nowrap;
}
.footer-line {
    margin-top: 3.55%;
    height: 1px;
    background-color: #727272;
}
.footer-some-text, .advertising {
    display: block;
    color: #727272;
    line-height: 1.45em;
    width: fit-content;
    margin: 0 auto;
}
.footer-some-text {
    margin-top: 2.29%;
}
.advertising {
    margin-top: 0.72%;
}
@media(max-width: 1150px) {
    body {
        font-size: clamp(12px, 1.56vw, 16px);
    }
    h2 {
        font-size: clamp(28px, 7.42vw, 76px);
    }
    [class*="__container"] {
        max-width: 93.75%;
        padding: 0 10px;
    }
    /* header */
    .header-container {
        min-height: 17.38vw;
    }
    .logo {
        width: 12.1vw;
    }
    .navbar {
        margin-right: 0;
        gap: 5.07vw;
    }
    .navbar-item {
        color: #111;
        font-size: clamp(12px, 1.5vw, 16px);
    }
    /* main section */
    .main-section {
        padding-bottom: 2.44%;
        padding-top: 14.75%;
    }
    .main-section-container {
        max-width: 93.8%;
        margin: 0 auto;
        padding: 0 10px;
        flex-direction: column-reverse;
    }
    .main-text {
        padding-top: 51px;
        padding-left: 0;
    }
    .main-header {
        margin-left: 0;
    }
    .main-paragraph {
        margin-top: 3.5%;
        width: 100%;
    }
    .main-image-pc {
        display: none;
    }
    .main-image-tablet {
        display: block;
    }
    .main-image {
        padding-top: 58.6%;
    }
    /* galelry section */
    .gallery-section {
        padding-top: 2.4%;
        padding-bottom: 7.91%;
    }
    .gallery {
        gap: 1.17vw;
    }
    /* footer */
    .footer-container {
        width: 91.8%;
        padding-top: 4.68%;
        padding-bottom: 2.34%;
    }
    .contacts {
        margin-top: 4.26%;
        gap: 15.23vw;
    }
    .contacts-link {
        font-size: clamp(10px, 1.56vw, 16px);
    }
    .footer-line {
        margin-top: 4.79%;
    }
    .footer-some-text {
        margin-top: 3.19%;
    }
    .advertising {
        margin-top: 1.28%;
    }
}
@media(max-width: 750px) {
    .gallery {
        margin-top: max(16px, 4.57%);
    }
}
@media (max-width:590px) {
    /* galelry section */ 
    .gallery-section {
        padding-top: 4.8%;
        padding-bottom: 12.8%;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.7vw;
        height: 107.89vw;
        overflow: hidden;
        transition: all linear .5s;
    }
    .products-show-all {
        height: 180.96vw;
    }
    .more-btn {
        width: fit-content;
        margin: 0 auto;
        margin-top: 4%;
        display: flex;
        align-items: center;
        color: #111;
        font-family: 'Roboto', sans-serif;
        font-size: clamp(12px, 3.2vw, 16px);
        font-weight: 700;
        text-transform: uppercase;
    }
    .more-arrow {
        margin-left: 5px;
        width: 6px;
        height: 4px;
    }
    .rotated-arrow {
        transform: rotate(180deg);
    }
    .contacts {
        gap: 14vw;
    }
    .footer-some-text, .advertising {
        font-size: clamp(8px, 1.56vw, 16px);;
    }
}
@media(max-width: 425px) {
    [class*="__container"] {
        max-width: 96%;
        padding: 0 5px;
    }
    .header-container {
        min-height: 29.87vw;
        justify-content: center;
    }
    .logo {
        width: 27.73vw;
    }
    .navbar {
        display: none;
    }
    /* main section */
    .main-section {
        padding-bottom: 19px;
        padding-top: 25.33%;
    }
    .main-section-container {
        max-width: 96%;
        padding: 0 5px;
    }
    .main-text {
        padding-top: 38px;
    }
    .main-paragraph-item:not(:first-child) {
        margin-top: 8px;
    }
    .main-image {
        padding-top: 65.59%;
    }
    .gallery-section {
        padding-top: 19px;
        padding-bottom: 48px;
    }
    .gallery {
        height: 110.07vw;
        gap: 3.2vw;
    }
    .products-show-all {
        height: 186.14vw;
    }
    .more-btn {
        margin-top: 5.88%;
    }
    /* footer */
    .footer-container {
        width: 91%;
        border: none;
        padding-top: 6.67%;
        padding-bottom: 2.4%;
    }
    .footer-logo {
        width: 78px;
    }
    .contacts {
        width: 100%;
        justify-content: space-between;
        gap: 0;
        margin-top: 6%;
    }
    .footer-line {
        margin-top: 10.29%;
    }
    .footer-some-text, .advertising {
        display: inline-block;
        margin-top: 10px;
    }
    .advertising {
        float: right;
    }
}