*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 1000px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: clamp(14px, 1.04vw, 26px);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    background-color: #EFEFEF;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: clamp(48px, 3.95vw, 99px);
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 88%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    min-height: 10.99vw;
    align-items: center;
}
.logo {
    display: flex;
    gap: 0.625vw;
    align-items: center;
}
.logo-image {
    width: 25.1%;
}
.logo-text {
    color: #111;
    font-size: clamp(20px, 1.46vw, 36px);
    font-weight: 700;
    white-space: nowrap;
}
.navbar {
    display: flex;
    gap: 3.125vw;
    align-items: center;
}
.navbar button {
    background: none;
}
.navbar-item {
    color: #F5F5F5;
    font-size: clamp(17px, 1.25vw, 31px);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar button:disabled .navbar-item{
    color: #525252;
    cursor: default;
}
.navbar-item:hover {
    color: #D25109;
}
.navbar-item:active {
    color: #773008;
}
/* main section */
.main-section {
    display: flex;
    padding-bottom: 5.21%;
    z-index: -1;
}
.main-text {
    flex: 1 1 50.52%;
    padding-top: 4.58%;
    padding-left: 6.77%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-header {
    color: #D25109;
}
.main-paragraph {
    margin-top: 9.07%;
    width: 83.33%;
    color: #111;
    line-height: 1.32em;
}
.main-image {
    flex: 1 1 49.48%;
    position: relative;
    padding-top: 49.48%;
    z-index: -1;
}
.main-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* galelry section */
.gallery-section {
    padding-top: 5.21%;
    padding-bottom: 5.21%;
}
.gallery-header {
    color: #111;
}
.gallery {
    margin-top: 1.24%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.04vw;
}
.gallery-image {
    width: 100%;
    position: relative;
    padding-top: 79.63%;
}
.gallery-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* footer */
.footer {
    padding-top: 5.21%;
    padding-bottom: 2.19%;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max(24.14%, 292px);
}
.footer-logo-image {
    width: 21.32%;
}
.footer-company-name {
    color: #111;
    font-size: clamp(20px, 1.46vw, 36px);
    font-weight: 700;
}
.footer-logo-some-text {
    margin-top: 3.54%;
    font-size: clamp(11px, 0.78vw, 20px);
}
.contact-details {
    margin-top: 4.32%;
}
.contact-details {
    display: flex;
    justify-content: space-between;
}
.phone-email {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 14.26%;
}
.phone-number, .footer-email {
    color: #000;
    line-height: 1.32em;
}
.phone-number-second {
    margin-top: 8.24%;
}
.footer-email {
    margin-top: 16.48%;
}
.schedule {
    display: flex;
    width: max(21.6%, 234px);
    justify-content: space-between;
    line-height: 1.32em;
}
.work-day-second {
    margin-top: 13.9%;
}
.work-time-second {
    margin-top: 24.53%;
}
.location p {
    font-size: clamp(15px, 1.25vw, 31px);
    font-weight: 700;
    text-transform: uppercase;
}
.location a {
    margin-top: 3.07%;
    display: block;
    color: #000;
    line-height: 1.32em;
}
.rights-reserved {
    margin-top: 11.89%;
    text-align: center;
    font-size: clamp(11px, 0.78vw, 20px);
}