*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 325px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: clamp(16px, 1.04vw, 26px);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    background-color: #EFEFEF;
    user-select: none;
    display: none;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
a {
    text-decoration: none;
}
.body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 88%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    min-height: 10.63vw;
    align-items: center;
    width: 100%;
}
.logo {
    cursor: default;
    width: 9.9vw;
}
.navbar {
    margin-right: 1.66%;
    display: flex;
    gap: 3.13vw;
    align-items: center;
}
.navbar button {
    background: none;
}
.navbar-item {
    color: #F5F5F5;
    font-size: clamp(16px, 1.04vw, 26px);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar button:disabled .navbar-item{
    color: #525252;
    cursor: default;
}
.navbar-item:hover {
    color: #D25109;
}
.navbar-item:active {
    color: #BC4F12;
}

/* main section */
.main-section {
    padding-bottom: 5.21%;
}
.main-section-bg-image {
    position: relative;
    z-index: -1;
}
.main-section-bg-image img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.bg-im-tablet, .main-bg-image-mobile {
    display: none;
}
.main-section-container {
    padding-top: 19.11%;
    overflow: hidden;
}
.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.469vw;
}
.text-row {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #F5F5F5;
    text-transform: uppercase;
}
.first-row {
    height: max(124px, 9.17vw);
}
.second-row {
    height: max(33px, 2.135vw);
}
.first-text-mobile {
    display: none;
}
.text-row h1, .text-row h2 {
    width: 100%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    transform: translateY(100%);
}
.text-row h1 {
    font-size: clamp(84px, 6.19vw, 155px);
}
.text-row h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: clamp(28px, 1.82vw, 46px);
}
.t1 {
    animation: TA1 12s infinite ease-in-out paused;
}
.t2 {
    animation: TA2 12s infinite ease-in-out paused;
}
.t3 {
    animation: TA3 12s infinite ease-in-out paused;
}
@keyframes TA1 {
    0%, 33.33%, 100% {
        transform: translateY(100%);
    }
    8%, 25.33% {
        transform: translateY(0%);
    }
}
@keyframes TA2 {
    0%, 33.33%, 66.66%, 100% {
        transform: translateY(100%);
    }
    41.33%, 58.66% {
        transform: translateY(0%);
    }
}
@keyframes TA3 {
    0%, 66.66%, 100% {
        transform: translateY(100%);
    }
    74.66%, 92%{
        transform: translateY(0%);
    }
}
.details-btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5.27%;
    cursor: pointer;
/* прибрати потім */
    margin-bottom: 18.5%;

    color: #F5F5F5;
    line-height: 1.32em;
    padding: 1.7% 5.5%;
    border-radius: 40px;
    background-color: #D25109;
    font-size: clamp(20px, 1.224vw, 31px)
}
.details-btn:disabled {
    background-color: #525252;
}
.details-btn:disabled .details-link {
    cursor: default;
    color: #EFEFEF;
}
.details-btn:enabled:hover {
    box-shadow: 0px 5px 14px 0px rgba(171, 61, 0, 0.70) inset;
}
.details-btn:active {
    background: #BC4F12;
    box-shadow: 0px 5px 22px 0px rgba(85, 34, 5, 0.50) inset;
}
/* products section */
.products-section {
    padding-top: 3.7%;
    padding-bottom: 5.2%;
}
.products-header {
    color: #111;
    font-size: clamp(70px, 3.95vw, 99px);
    text-transform: uppercase;
}
.products-wrapper {
    margin-top: 1.24%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product {
    position: relative;
    height: fit-content;
}
.product-image {
    position: relative;
    padding-top: 77.9%;
    overflow: hidden;
}
.product-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}
.product:not(.polimer-rollers-product):hover .product-image img {
    transform: scale(1.1);
}
.product-text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7.23% 5.42% 5.42% 7.23%;
}
.product-name {
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(20px, 1.25vw, 31px);
    text-transform: uppercase;
}
.product-arrow {
    align-self: flex-end;
    width: 7.96%;
    height: 10.21%;
}
.polimer-rollers-product .product-arrow {
    display: none;
}
.out-of-stock {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}
.out-of-stock-text {
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5;
    font-size: clamp(20px, 1.04vw, 26px);
    text-transform: uppercase;
}
.more-btn {
    display: none;
}
/* about us section */
.about-us-section {
    padding-top: 3.68%;
    padding-bottom: 10.1%;
}
.about-us-description {
    display: flex;
}
.about-us-description h2 {
    flex: 1 1 24.85%;
    color: #D25109;
    font-size: clamp(76px, 3.95vw, 99px);
    text-transform: uppercase;
}
.about-us-description-text {
    flex: 1 1 75.15%;
    padding-right: 10px;
}
.about-us-description-text h3 {
    margin-top: 2.34%;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(20px, 1.25vw, 31px);
    text-transform: uppercase;
}
.about-us-description-paragraph {
    margin-top: 3.06%;
}
.about-us-description-paragraph p:not(:last-child) {
    margin-bottom: 15px;
}
.advantages {
    margin-top: 9.82%;
    display: flex;
}
.advantages-item-first, .advantages-item-second, .advantages-item-third {
    flex: 1 1 25.30%;
}
.advantages-item-fourth {
    flex: 1 1 24.1%;
}
.advantage-name {
    display: flex;
    align-items: baseline;
}
.advantages-item-first span, .advantages-item-second span, .advantages-item-third span {
    margin-right: 2.38%;
}
.advantages-item-fourth span {
    margin-right: 2.5%;
}
.advantage-name span {
    color: #D25109;
    font-size: clamp(16px, 1.25vw, 31px);
    text-transform: uppercase;
    font-weight: 700;
}
.advantage-name h3 {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(16px, 1.25vw, 31px);
    text-transform: uppercase;
}
.advantages-item-first p, .advantages-item-second p, .advantages-item-third p {
    margin-top: 5.48%;
    line-height: 1.32em;
}
.advantages-item-fourth p {
    margin-top: 5.75%;
    line-height: 1.32em;
}
.advantages-item-first p, .advantages-item-second p {
    width: 61.9%;
}
.advantages-item-third p {
    width: 70.24%;
}
.advantages-item-fourth p {
    width: 65%;
}
/* order information section */
.order-information-section {
    position: relative;
    padding-bottom: 7.81%;
}
.order-information-bg {
    position: relative;
    padding-top: 28.6%;
    width: 100%;
    z-index: -1;
}
.order-information-bg-tablet, .order-information-bg-mobile  {
    display: none;
}
.order-information-bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.order-information-container {
    padding-left: 6.67%;
    padding-right: 6.67%;
    position: absolute;
    top: 0;
    height: 28.65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-information-text {
    margin-left: 0.26%;
    width: 48.61%;
    color: #F5F5F5;
    line-height: 1.32em;
}
.order-information-text span {
    user-select: text;
    white-space: nowrap;
}
.order-options {
    margin-top: 5.12%;
    width: 51.39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.e-mail, .download-text {
    color: #F5F5F5;
    font-size: clamp(20px, 1.25vw, 31px);
    font-weight: 700;
    white-space: nowrap;
}
.download-text {
    text-transform: uppercase;
}
.download-form {
    display: flex;
    align-items: center;
    width: max(36.46%, 260px);
    justify-content: space-between;
    cursor: pointer;
}
.download-image {
    width: 8.8%;
    height: 75%;
}
/* footer */
.footer {
    padding-top: 2.08%;
    padding-bottom: 1.09%; 
    background: #111;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    width: 11.57%;
    padding-right: 3.31%;
}
.footer-some-text {
    color: #F5F5F5;
    font-size: clamp(15px, 0.78vw, 20px);
    cursor: default;
}
.footer-some-text-mob {
    display: none;
}
.contacts a {
    display: block;
    text-align: right;
    color: #F5F5F5;
    line-height: 1.32em;
}
.contacts a:hover {
    color: #D25109;
}
.contacts a:first-child {
    margin-bottom: 5.7%;
}
.advertising {
    width: fit-content;
    margin: 0 auto;
    margin-top: 3.8%;
    display: block;
    color: #575757;
    font-size: clamp(12px, 0.624vw, 16px);
    line-height: 1.32em;
}
@media(max-width: 1700px) {
    .about-us-description h2 {
        flex-basis: 30%;
    }
    .about-us-description-text {
        flex-basis: 70%;
    }
    .about-us-description-text h3 {
        margin-top: 3%;
    }
}
@media(max-width: 1450px) {
    .about-us-description h2 {
        flex-basis: 35%;
    }
    .about-us-description-text {
        flex-basis: 65%;
    }
    .about-us-description-text h3 {
        margin-top: 3.2%;
    }
}
@media(max-width: 1165px) {
    .about-us-description h2 {
        flex-basis: 40.956%;
        font-size: clamp(28px, 7.42vw, 76px);
    }
    .about-us-description-text {
        flex-basis: 59.044%;
    }
    .about-us-description-text h3 {
        margin-top: 4%;
    }
}
@media(max-width: 1024px) {
    body {
        font-size: clamp(12px, 1.56vw, 16px);
    }
    [class*="__container"] {
        max-width: 94%;
        padding: 0 10px;
    }
    .header-container {
        min-height: 17.38vw;
    }
    .logo {
        width: 12.1vw;
    }
    .navbar {
        margin-right: 0;
        gap: 5.07vw;
    }
    .navbar-item {
        font-size: clamp(10px, 1.5vw, 16px);
    }
    /* main section */
    .main-section {
        padding-bottom: 2.4%;
    }
    .bg-im-pc {
        display: none;
    }
    .bg-im-tablet {
        display: block;
    }
    .main-section-container {
        padding-top: 26.86%;
    }
    .text-wrapper {
        gap: 2.34vw;
    }
    .first-row {
        height: max(53px, 12.1vw);
    }
    .second-row {
        height: max(19px, 3.22vw);
    }
    .text-row h1 {
        font-size: clamp(36px, 8.2vw, 84px);
    }
    .text-row h2{
        font-size: clamp(16px, 2.7vw, 28px);
    }
    .details-btn {
        margin-top: 8.51%;
        margin-bottom: 32.13%;
        padding: 2.98% 8.72%;
        font-size: clamp(14px, 2.34vw, 24px);
    }
    /* products section */
    .products-section {
        padding-top: 2.4%;
        padding-bottom: 2.4%;
    }
    .products-header {
        font-size: clamp(28px, 7.4vw, 76px);
    }
    .products-wrapper {
        margin-top: 3.96%;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-image {
        padding-top: 76.17%;
    }
    .product-text {
        padding: 7.02% 5.96% 5.96% 7.23%;
    }
    .product-name {
        font-size: clamp(12px, 1.95vw, 20px);
    }
    .product-arrow {
        width: 7.45%;
        height: 9.78%;
    }
    /* about us section */
    .about-us-section {
        padding-top: 2.44%;
        padding-bottom: 7.32%;
    }
    .about-us-description-text h3 {
        margin-top: 4.86%;
        font-size: clamp(12px, 1.95vw, 20px);
    }
    .about-us-description-paragraph {
        margin-top: 4.86%;
    }
    .advantages {
        margin-top: 8.75%;
    }
    .advantages-item-first, .advantages-item-second, .advantages-item-third {
        flex-basis: 26.17%;
    }
    .advantages-item-fourth {
        flex-basis: 21.49%;
    }
    .advantages-item-first span, .advantages-item-second span, .advantages-item-third span {
        margin-right: 3.25%;
    }
    .advantages-item-fourth span {
        margin-right: 3.96%;
    }
    .advantage-name span, .advantage-name h3 {
        font-size: clamp(12px, 1.56vw, 16px);
    }
    .advantages-item-first p, .advantages-item-second p, .advantages-item-third p {
        margin-top: 9.34%;
        width: 81.7%;
    }
    .advantages-item-fourth p {
        margin-top: 11.386%;
    }
    .advantages-item-fourth p {
        width: 100%;
    }
    /* order information section */
    .order-information-section {
        padding-bottom: 9.77%
    }
    .order-information-bg {
        padding-top: 46.68%;
    }
    .order-information-bg-pc {
        display: none;
    }
    .order-information-bg-tablet {
        display: block;
    }
    .order-information-container {
        padding-left: 4.1%;
        padding-right: 4.1%;
        height: 46.68vw;
    }
    .order-information-text {
        margin-left: 0;
        width: 48.9%;
    }
    .order-options {
        margin-top: 19.49%;
        margin-bottom: 1.17%;
        width: 97.66%;
    }
    .e-mail, .download-text {
        font-size: clamp(12px, 1.95vw, 20px);
    }
    .download-form {
        width: max(28.21%, 155px);
    }
    .download-image {
        width: 6.95%;
        height: 69.57%;
    }
    /* footer */
    .footer {
        padding-top: 4.49%;
        padding-bottom: 1.95%;
    }
    .footer-logo {
        width: 14.47%;
        padding-right: 2.47%;
    }
    .footer-some-text {
        font-size: clamp(8px, 1.46vw, 15px);
    }
    .contacts a {
        font-size: clamp(10px, 1.56vw, 16px);
    }
    .advertising {
        margin-top: 7.23%;
        font-size: clamp(6px, 1.17vw, 12px);
    }
}
@media (max-width: 650px) {
    .out-of-stock-text {
        font-size: 16px;
    }
}
@media (max-width: 570px) {
    .main-section-container {
        padding-top: 30%;
    }
    .details-btn {
        margin-bottom: 25%;
    }
    .advantages {
        margin-top: 12.06%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5.33vw;
    }
    .advantage-name span {
        margin-right: 2.5%;
    }
    .advantages p {
        margin-top: 5%;
        width: 90%;
    }
    .order-information-text {
        width: 70%;
    }
}
@media(max-width: 430px) {
    [class*="__container"] {
        max-width: 96%;
    }
    .header-container {
        min-height: 29.87vw;
        justify-content: center;
    }
    .logo {
        width: 27.73vw;
    }
    .navbar {
        display: none;
    }
    /* main section */
    .main-section {
        padding-bottom: 5.33%;
    }
    .main-image-tablet {
        display: none;
    }
    .main-bg-image-mobile {
        display: block;
    }
    .main-section-container {
        padding-top: 56.8%;
    }
    .text-wrapper {
        gap: 10.93vw;
    }
    .second-row {
        display: none;
    }
    .mob-row {
        height: max(4.9vw, 19px);
    }
    .text-row h1 {
        padding-left: 0;
        padding-right: 0;
    }
    .details-btn {
        margin-top: 90%;
        margin-bottom: 33.82%;
        padding: 5.29% 16.18%;
    }
    /* products section */
    .products-section {
        padding-top: 5.33%;
        padding-bottom: 5.33%;
    }
    .products-wrapper {
        margin-top: 4.71%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3.2vw;
        overflow: hidden;
        height: 166.399vw;
        transition: all linear .5s;
    }
    .products-show-all {
        height: 336vw;
    }
    .polimer-rollers-product {
        order: 3;
    }
    .product-image {
        padding-top: 58.82%;
    }
    .more-btn {
        width: fit-content;
        margin: 0 auto;
        margin-top: 5.88%;
        display: flex;
        align-items: center;
        color: #111;
        font-family: 'Roboto', sans-serif;
        font-size: clamp(12px, 3.2vw, 16px);
        font-weight: 700;
        text-transform: uppercase;
    }
    .more-arrow {
        margin-left: 5px;
        width: 6px;
        height: 4px;
    }
    .rotated-arrow {
        transform: rotate(180deg);
    }
    /* about us section */
    .about-us-section {
        padding-top: 5.33%;
        padding-bottom: 12%;
    }
    .about-us-description {
        flex-direction: column;
    }
    .about-us-description-text {
        padding-right: 0;
    }
    .about-us-description-text h3 {
        margin-top: 5%;
    }
    .about-us-description-paragraph {
        margin-top: 3.82%;
    }
    .about-us-description-paragraph p:not(:last-child) {
        margin-bottom: 8px;
    }
    .advantages p {
        width: 100%;
    }

    /* order information section */
    .order-information-section {
        padding-bottom: 12.8%;
    }
    .order-information-bg-tablet {
        display: none;
    }
    .order-information-bg-mobile {
        display: block;
    }
    .order-information-bg {
        padding-top: 64.8%;
    }
    .order-information-container {
        padding-left: 4.8%;
        padding-right: 4.8%;
        height: 64.8vw;
    }
    .order-information-text {
        width: 100%;
    }
    .order-options {
        margin-top: 28.53%;
        margin-bottom: 0;
    }
    /* footer */
    .footer {
        padding-top: 6.13%;
        padding-bottom: 4%;
    }
    .footer-logo {
        width: 22.95%;
        padding-right: 2.35%;
    }
    .footer-some-text {
        display: none;
    }
    .contacts {
        display: contents;
    }
    .footer-email {
        order: -2;
    }
    .contacts a:first-child {
        margin-bottom: 0;
    }
    .contacts a:not(:first-child) {
        text-align: left;
    }
    .footer-some-text-mob{
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-top: 12.94%;
        color: #727272;
    }
    .advertising {
        margin-top: 4.12%;
    }
}
@media (max-width: 400px) {
    .main-section-container {
        padding-top: 49.87%;
    }
    .text-wrapper {
        row-gap: 6.4vw;
    }
    .first-text-mobile {
        display: block;
    }
    .first-row {
        display: none;
    }
    .first-row-mob {
        height: 62px;
    }
    .text-row h1 {
        font-size: 42px;
    }
    .details-btn {
        margin-top: 83.53%;
        margin-bottom: 32%;
    }
}
@media (max-width: 340px) {
    .details-btn {
        margin-top: 79%;
        margin-bottom: 28%;
    }
    .download-form {
        width: 130px;
    }
    .download-text {
        font-size: 10px;
    }
}