*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 325px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: clamp(16px, 1.04vw, 26px);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    background-color: #EFEFEF;
    user-select: none;
    display: none;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
h2 {
    font-size: clamp(70px, 3.95vw, 99px);
    text-transform: uppercase;
    color: #111;
}
h3 {
    font-size: clamp(20px, 1.25vw, 31px);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 88%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    min-height: 9.9vw;
    align-items: center;
    width: 100%;
}
.logo {
    cursor: default;
    width: 9.9vw;
}
.navbar {
    display: flex;
    gap: 3.13vw;
    align-items: center;
}
.navbar button {
    background: none;
}
.navbar-item {
    color: #F5F5F5;
    font-size: clamp(16px, 1.25vw, 26px);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar button:disabled .navbar-item{
    color: #525252;
    cursor: default;
}
.navbar-item:hover {
    color: #D25109;
}
.navbar-item:active {
    color: #BC4F12;
}

/* main section */
.main-section {
    padding-bottom: 3.65%;
}
.main-section-bg-image {
    position: relative;
    z-index: -1;
}
.main-section-bg-image img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.bg-im-tablet, .main-bg-image-mobile {
    display: none;
}
.main-section-container {
    padding-top: 19.11%;
    overflow: hidden;
}
.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.469vw;
}
.text-row {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #F5F5F5;
    text-transform: uppercase;
}
.first-row {
    height: max(124px, 9.17vw);
}
.second-row {
    height: max(33px, 2.135vw);
}
.first-text-mobile {
    display: none;
}
.text-row h1, .text-row h2 {
    width: 100%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    transform: translateY(100%);
}
.text-row h1 {
    font-size: clamp(84px, 6.19vw, 155px);
}
.text-row h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: clamp(28px, 1.82vw, 46px);
    color: #f5f5f5;
}
.t1 {
    animation: TA1 12s infinite ease-in-out paused;
}
.t2 {
    animation: TA2 12s infinite ease-in-out paused;
}
.t3 {
    animation: TA3 12s infinite ease-in-out paused;
}
@keyframes TA1 {
    0%, 33.33%, 100% {
        transform: translateY(100%);
    }
    8%, 25.33% {
        transform: translateY(0%);
    }
}
@keyframes TA2 {
    0%, 33.33%, 66.66%, 100% {
        transform: translateY(100%);
    }
    41.33%, 58.66% {
        transform: translateY(0%);
    }
}
@keyframes TA3 {
    0%, 66.66%, 100% {
        transform: translateY(100%);
    }
    74.66%, 92%{
        transform: translateY(0%);
    }
}
.details-btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: calc(3.61% - 0.469vw);
    cursor: pointer;
    margin-bottom: 18.7%;
    color: #F5F5F5;
    line-height: 1.32em;
    padding: 1.7% 4.94%;
    border-radius: 40px;
    background-color: #D25109;
    font-size: clamp(20px, 1.224vw, 31px)
}
.details-btn:disabled {
    background-color: #525252;
}
.details-btn:disabled .details-link {
    cursor: default;
    color: #EFEFEF;
}
.details-btn:enabled:hover {
    box-shadow: 0px 5px 14px 0px rgba(171, 61, 0, 0.70) inset;
}
.details-btn:active {
    background: #BC4F12;
    box-shadow: 0px 5px 22px 0px rgba(85, 34, 5, 0.50) inset;
}
/* products section */
.products-section {
    padding-top: 3.65%;
    padding-bottom: 3.65%;
}
.products-wrapper {
    margin-top: 2.89%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product {
    position: relative;
    height: fit-content;
}
.product-image {
    position: relative;
    padding-top: 77.9%;
    overflow: hidden;
}
.product-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}
.product:not(.polimer-rollers-product):hover .product-image img {
    transform: scale(1.1);
}
.product-text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7.23% 5.42% 5.42% 7.23%;
}
.product-name {
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
.product-arrow {
    align-self: flex-end;
    width: 7.96%;
    height: 10.21%;
}
.polimer-rollers-product .product-arrow {
    display: none;
}
.out-of-stock {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}
.out-of-stock-text {
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5;
    font-size: clamp(20px, 1.04vw, 26px);
    text-transform: uppercase;
}
.more-btn {
    display: none;
}
/* about us section */
.about-us-section {
    padding-top: 3.65%;
    padding-bottom: 3.65%;
}
.about-us-description {
    display: flex;
}
.about-us-description h2 {
    flex: 1 1 24.85%;
    color: #D25109;
}
.about-us-description-text {
    flex: 1 1 75.15%;
    padding-right: 10px;
    line-height: 1.45em;
}
.about-us-description-text h3 {
    margin-top: 2.34%;
}
.about-us-description-paragraph {
    margin-top: 3.06%;
}
.about-us-description-paragraph p:not(:last-child) {
    margin-bottom: 15px;
}
/* you'll get section */
.youll-get-section {
    padding-top: 3.65%;
    padding-bottom: 4.43%;
}
.advantages {
    margin-top: 2.89%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.advantages-item {
    border: 1px solid #cecece;
    padding: 7.5%;
}
.advantages-item span {
    color: #d25109;
    margin-right: 2.96%;
}
.advantage-text {
    margin-top: 9.7%;
    line-height: 1.45em;
}
/* order information section */
.order-information-section {
    padding-top: 4.43%;
    padding-bottom: 8.85%;
}
.order-information-container {
    position: relative;
}
.order-information-bg {
    position: relative;
    padding-top: 33.13%;
    width: 100%;
    z-index: -1;
}
.order-information-bg-tablet, .order-information-bg-mobile, .order-information-bg-mob  {
    display: none;
}
.order-information-bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.order-information-wrapper {
    position: absolute;
    top: 0;
    height: 28.65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7.35%;
    padding-right: 7.35%;
}
.order-information-text {
    width: 57.5%;
    color: #F5F5F5;
    line-height: 1.45em;
}
.order-information-text span {
    user-select: text;
    white-space: nowrap;
}
.order-options {
    margin-top: 5.33%;
    width: 60.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.e-mail, .download-text {
    color: #F5F5F5;
    font-size: clamp(20px, 1.25vw, 31px);
    font-weight: 700;
    white-space: nowrap;
}
.download-text {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.73vw;
}
.download-image {
    width: 8.8%;
    height: 75%;
}
/* footer */
.footer {
    background: #111;
}
.footer-container {
    width: 86.46%;
    margin: 0 auto;
    border-left: 1px solid #727272;
    border-right: 1px solid #727272;
    padding: 0;
    padding-top: 2.5%;
    padding-bottom: 1.09%;
}
.footer-logo {
    display: block;
    margin: 0 auto;
    width: 135px;
}
.contacts {
    margin-top: 3.19%;
    display: flex;
    justify-content: center;
    gap: 7.76vw;
}
.contacts-link {
    line-height: 1.45em;
    color: #f5f5f5;
    white-space: nowrap;
}
.footer-line {
    margin-top: 3.55%;
    height: 1px;
    background-color: #727272;
}
.footer-some-text, .advertising {
    display: block;
    color: #727272;
    line-height: 1.45em;
    width: fit-content;
    margin: 0 auto;
}
.footer-some-text {
    margin-top: 2.29%;
}
.advertising {
    margin-top: 0.72%;
}

@media(max-width: 1700px) {
    .about-us-description h2 {
        flex-basis: 30%;
    }
    .about-us-description-text {
        flex-basis: 70%;
    }
    .about-us-description-text h3 {
        margin-top: 3%;
    }
}
@media(max-width: 1450px) {
    .about-us-description h2 {
        flex-basis: 35%;
    }
    .about-us-description-text {
        flex-basis: 65%;
    }
    .about-us-description-text h3 {
        margin-top: 3.2%;
    }
}
@media(max-width: 1270px) {
    .details-btn {
        margin-bottom: 17%;
    }
    .advantages-item h3 {
        font-size: 16px;
    }
    .order-information-text {
        width: 60%;
    }
}
@media(max-width: 1165px) {
    h2 {
        font-size: clamp(28px, 7.42vw, 76px);
    }
    .details-btn {
        margin-bottom: 15.5%;
    }
    .about-us-description h2 {
        flex-basis: 40.956%;
    }
    .about-us-description-text {
        flex-basis: 59.044%;
    }
    .about-us-description-text h3 {
        margin-top: 4%;
    }
    .order-information-text {
        width: 64%;
    }
    .order-options {
        width: 66%;
    }
}
@media(max-width: 1024px) {
    body {
        font-size: clamp(12px, 1.56vw, 16px);
    }
    [class*="__container"] {
        max-width: 93.7%;
        padding: 0 10px;
    }
    .advantages-item h3 {
        font-size: clamp(12px, 1.95vw, 20px);
    }
    .header-container {
        min-height: 17.38vw;
    }
    .logo {
        width: 12.1vw;
    }
    .navbar {
        gap: 5.07vw;
    }
    .navbar-item {
        font-size: clamp(10px, 1.56vw, 16px);
    }
    /* main section */
    .main-section {
        padding-bottom: 26px;
    }
    .bg-im-pc {
        display: none;
    }
    .bg-im-tablet {
        display: block;
    }
    .main-section-container {
        padding-top: 26.86%;
    }
    .text-wrapper {
        gap: 2.34vw;
    }
    .first-row {
        height: max(53px, 12.1vw);
    }
    .second-row {
        height: max(19px, 3.22vw);
    }
    .text-row h1 {
        font-size: clamp(36px, 8.2vw, 84px);
    }
    .text-row h2{
        font-size: clamp(16px, 2.7vw, 28px);
    }
    .details-btn {
        margin-top: calc(8.51% - 2.34vw);
        margin-bottom: 32.13%;
        padding: 2.98% 8.72%;
        font-size: clamp(14px, 2.34vw, 24px);
    }
    /* products section */
    .products-section {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .products-header {
        font-size: clamp(28px, 7.4vw, 76px);
    }
    .products-wrapper {
        margin-top: 3.96%;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-image {
        padding-top: 76.17%;
    }
    .product-text {
        padding: 7.02% 5.96% 5.96% 7.23%;
    }
    .product-name {
        font-size: clamp(12px, 1.95vw, 20px);
    }
    .product-arrow {
        width: 7.45%;
        height: 9.78%;
    }
    /* about us section */
    .about-us-section {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .about-us-description-text h3 {
        margin-top: 4.86%;
        font-size: clamp(12px, 1.95vw, 20px);
    }
    .about-us-description-paragraph {
        margin-top: 4.86%;
    }
    /* you'll get section */
    .youll-get-section {
        padding-top: 26px;
        padding-bottom: 80px;
    }
    .advantages {
        margin-top: 4.04%;
    }
    .advantage-text {
        margin-top: 10.27%;
    }
    /* order information section */
    .order-information-section {
        padding-bottom: 7.81%;
        padding-top: 0;
        position: relative;
    }
    .order-information-bg-pc {
        display: none;
    }
    .order-information-bg-mob, .order-information-bg-tablet {
        display: block;
    }
    .order-information-bg {
        padding-top: 46.68%;
    }
    .order-information-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 46.68vw;
        max-width: 100%;
        width: 100%;
        padding: 0 4.1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .order-information-wrapper {
        display: contents;
    }
    .order-information-text {
        width: 460px;
    }
    .order-options {
        margin-top: 19.49%;
        margin-bottom: 1.17%;
        width: 97.66%;
    }
    .e-mail, .download-text {
        font-size: clamp(12px, 1.95vw, 20px);
    }
    .download-form {
        width: max(28.21%, 155px);
    }
    .download-image {
        width: 6.95%;
        height: 69.57%;
    }
    /* footer */
    .footer-container {
        width: 91.8%;
        padding-top: 4.68%;
        padding-bottom: 2.34%;
    }
    .contacts {
        margin-top: 4.26%;
        gap: 15.23vw;
    }
    .contacts-link {
        font-size: clamp(10px, 1.56vw, 16px);
    }
    .footer-line {
        margin-top: 4.79%;
    }
    .footer-some-text {
        margin-top: 3.19%;
    }
    .advertising {
        margin-top: 1.28%;
    }
}
@media (max-width: 860px) {
    .details-btn {
        margin-bottom: 30.8%;
    }
    .about-us-description-text, .order-information-text {
        line-height: 1.4em;
    }
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
    .advantages-item {
        padding: 4.21%;
    }
    .advantage-text {
        margin-top: 5.46%;
        line-height: 1.4em;
    }
}
@media (max-width: 650px) {
    .out-of-stock-text {
        font-size: 16px;
    }
    .order-information-text {
        width: 350px;
    }
}
@media (max-width: 570px) {
    .main-section-container {
        padding-top: 30%;
    }
    .details-btn {
        margin-bottom: 25%;
    }
    .contacts {
        gap: 14vw;
    }
    .footer-some-text, .advertising {
        font-size: clamp(8px, 1.56vw, 16px);;
    }
}
@media(max-width: 430px) {
    [class*="__container"] {
        max-width: 96%;
    }
    .header-container {
        min-height: 29.87vw;
        justify-content: center;
    }
    .logo {
        width: 27.73vw;
    }
    .navbar {
        display: none;
    }
    /* main section */
    .main-section {
        padding-bottom: 5.33%;
    }
    .main-image-tablet {
        display: none;
    }
    .main-bg-image-mobile {
        display: block;
    }
    .main-section-container {
        padding-top: 56.8%;
    }
    .text-wrapper {
        gap: 10.93vw;
    }
    .second-row {
        display: none;
    }
    .mob-row {
        height: max(4.9vw, 19px);
    }
    .text-row h1 {
        padding-left: 0;
        padding-right: 0;
    }
    .details-btn {
        margin-top: 90%;
        margin-bottom: 33.82%;
        padding: 5.29% 16.18%;
    }
    /* products section */
    .products-section {
        padding-top: 5.33%;
        padding-bottom: 5.33%;
    }
    .products-wrapper {
        margin-top: 4.71%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3.2vw;
        overflow: hidden;
        height: 162.986vw;
        transition: all linear .5s;
    }
    .products-show-all {
        height: 329.172vw;
    }
    .polimer-rollers-product {
        order: 3;
    }
    .product-image {
        padding-top: 57.14%;
    }
    .product-text {
        flex-direction: row;
        align-items: flex-end;
    }
    .more-btn {
        width: fit-content;
        margin: 0 auto;
        margin-top: 5.88%;
        display: flex;
        align-items: center;
        color: #111;
        font-family: 'Roboto', sans-serif;
        font-size: clamp(12px, 3.2vw, 16px);
        font-weight: 700;
        text-transform: uppercase;
    }
    .more-arrow {
        margin-left: 5px;
        width: 6px;
        height: 4px;
    }
    .rotated-arrow {
        transform: rotate(180deg);
    }
    /* about us section */
    .about-us-section {
        padding-top: 5.33%;
        padding-bottom: 8.8%;
    }
    .about-us-description {
        flex-direction: column;
    }
    .about-us-description-text {
        padding-right: 0;
    }
    .about-us-description-text h3 {
        margin-top: 5%;
    }
    .about-us-description-paragraph {
        margin-top: 3.82%;
    }
    .about-us-description-paragraph p:not(:last-child) {
        margin-bottom: 8px;
    }
    /* you'll get section */
    .youll-get-section {
        padding-top: 0;
        padding-bottom: 10.67%;
    }
    .advantages {
        gap: 15px;
    }
    .advantages-item {
        padding: 4.7%;
    }
    /* order information section */
    .order-information-section {
        padding-bottom: 12.8%;
    }
    .order-information-bg-tablet {
        display: none;
    }
    .order-information-bg-mobile {
        display: block;
    }
    .order-information-bg {
        padding-top: 64.8%;
    }
    .order-information-container {
        max-width: 100%;
        padding-left: 4.8%;
        padding-right: 4.8%;
        height: 64.8vw;
    }
    .order-information-text {
        width: 100%;
    }
    .order-options {
        margin-top: 28.53%;
        margin-bottom: 0;
    }
    /* footer */
    .footer-container {
        width: 91%;
        border: none;
        padding-top: 6.67%;
        padding-bottom: 2.4%;
    }
    .footer-logo {
        width: 78px;
    }
    .contacts {
        width: 100%;
        justify-content: space-between;
        gap: 0;
        margin-top: 6%;
    }
    .footer-line {
        margin-top: 10.29%;
    }
    .footer-some-text, .advertising {
        display: inline-block;
        margin-top: 10px;
    }
    .advertising {
        float: right;
    }
}
@media (max-width: 400px) {
    .main-section-container {
        padding-top: 49.87%;
    }
    .text-wrapper {
        row-gap: 6.4vw;
    }
    .first-text-mobile {
        display: block;
    }
    .first-row {
        display: none;
    }
    .first-row-mob {
        height: 62px;
    }
    .text-row h1 {
        font-size: 42px;
    }
    .details-btn {
        margin-top: 29.41%;
        margin-bottom: 84%;
    }
}
@media (max-width: 340px) {
    .details-btn {
        margin-top: 28%;
        margin-bottom: 80%;
    }
    .download-form {
        width: 130px;
    }
    .download-text {
        font-size: 10px;
    }
}