*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 1000px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: clamp(14px, 1.04vw, 26px);
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    background-color: #EFEFEF;
    user-select: none;
    display: none;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
a {
    text-decoration: none;
}
.body-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 88%;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    min-height: 10.63vw;
    align-items: center;
    width: 100%;
}
.logo {
    cursor: default;
    width: 11.45%;
}
.navbar {
    margin-right: 1.66%;
    display: flex;
    gap: 3.13vw;
    align-items: center;
}
.navbar button {
    background: none;
}
.navbar-item {
    color: #F5F5F5;
    font-size: clamp(14px, 1.04vw, 26px);
    font-weight: 700;
    text-transform: uppercase;
}
.navbar button:disabled .navbar-item{
    color: #525252;
    cursor: default;
}
.navbar-item:hover {
    color: #D25109;
}
.navbar-item:active {
    color: #BC4F12;
}
/* main section */
.main-section {
    padding-bottom: 5.21%;
}
.main-section-bg-image {
    position: relative;
    z-index: -1;
}
.main-section-bg-image img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.main-section-container {
    padding-top: 19.11%;
    overflow: hidden;
}
.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.469vw;
}
.text-row {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #F5F5F5;
    text-transform: uppercase;
}
.first-row {
    height: 9.17vw;
}
.second-row {
    height: 2.135vw;
}
.text-row h1, .text-row h2 {
    width: 100%;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    transform: translateY(100%);
}
.text-row h1 {
    font-size: clamp(75px, 6.19vw, 155px);
}
.text-row h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: clamp(20px, 1.82vw, 46px);
}
.t1 {
    animation: TA1 12s infinite ease-in-out paused;
}
.t2 {
    animation: TA2 12s infinite ease-in-out paused;
}
.t3 {
    animation: TA3 12s infinite ease-in-out paused;
}
@keyframes TA1 {
    0%, 33.33%, 100% {
        transform: translateY(100%);
    }
    8%, 25.33% {
        transform: translateY(0%);
    }
}
@keyframes TA2 {
    0%, 33.33%, 66.66%, 100% {
        transform: translateY(100%);
    }
    41.33%, 58.66% {
        transform: translateY(0%);
    }
}
@keyframes TA3 {
    0%, 66.66%, 100% {
        transform: translateY(100%);
    }
    74.66%, 92%{
        transform: translateY(0%);
    }
}
.details-btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5.27%;
    cursor: pointer;
/* прибрати потім */
    margin-bottom: 18.5%;

    color: #F5F5F5;
    line-height: 1.32em;
    padding: 1.7% 5.5%;
    border-radius: 40px;
    background-color: #D25109;
    font-size: clamp(17px, 1.224vw, 31px)
}
.details-btn:disabled {
    background-color: #525252;
}
.details-btn:disabled .details-link {
    cursor: default;
    color: #EFEFEF;
}
.details-btn:enabled:hover {
    box-shadow: 0px 5px 14px 0px rgba(171, 61, 0, 0.70) inset;
}
.details-btn:active {
    background: #BC4F12;
    box-shadow: 0px 5px 22px 0px rgba(85, 34, 5, 0.50) inset;
}
/* products section */
.products-section {
    padding-top: 3.7%;
    padding-bottom: 5.2%;
}
.products-header {
    color: #111;
    font-size: clamp(48px, 3.95vw, 99px);
    text-transform: uppercase;
}
.products-wrapper {
    margin-top: 1.24%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product {
    position: relative;
    height: fit-content;
}
.product-image {
    position: relative;
    padding-top: 77.9%;
    overflow: hidden;
}
.product-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}
.product:not(.polimer-rollers-product):hover .product-image img {
    transform: scale(1.1);
}
.product-text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7.23% 5.42% 5.42% 7.23%;
}
.product-name {
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(16px, 1.25vw, 31px);
    text-transform: uppercase;
}
.product-arrow {
    align-self: flex-end;
    width: 7.96%;
    height: 10.21%;
}
.polimer-rollers-product .product-arrow {
    display: none;
}
.out-of-stock {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}
.out-of-stock-text {
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5;
    font-size: clamp(14px, 1.04vw, 26px);
    text-transform: uppercase;
}

/* about us section */
.about-us-section {
    padding-top: 3.68%;
    padding-bottom: 10.1%;
}
.about-us-description {
    display: flex;
}
.about-us-description h2 {
    flex: 1 1 24.85%;
    color: #D25109;
    font-size: clamp(46px, 3.95vw, 99px);
    text-transform: uppercase;
}
.about-us-description-text {
    flex: 1 1 75.15%;
    padding-right: 10px;
}
.about-us-description-text h3 {
    margin-top: 2.34%;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(16px, 1.25vw, 31px);
    text-transform: uppercase;
}
.about-us-description-paragraph {
    margin-top: 3.06%;
}
.about-us-description-paragraph p:not(:last-child) {
    margin-bottom: 1.21%;
}
.advantages {
    margin-top: 9.82%;
    display: flex;
}
.advantages-item-first, .advantages-item-second, .advantages-item-third {
    flex: 1 1 25.30%;
}
.advantages-item-fourth {
    flex: 1 1 24.1%;
}
.advantage-name {
    display: flex;
    align-items: baseline;
}
.advantages-item-first span, .advantages-item-second span, .advantages-item-third span {
    margin-right: 2.38%;
}
.advantages-item-fourth span {
    margin-right: 2.5%;
}
.advantage-name span {
    color: #D25109;
    font-size: clamp(16px, 1.25vw, 31px);
    text-transform: uppercase;
    font-weight: 700;
}
.advantage-name h3 {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(16px, 1.25vw, 31px);
    text-transform: uppercase;
}
.advantages-item-first p, .advantages-item-second p, .advantages-item-third p {
    margin-top: 5.48%;
    line-height: 1.32em;
}
.advantages-item-fourth p {
    margin-top: 5.75%;
    line-height: 1.32em;
}
.advantages-item-first p, .advantages-item-second p {
    width: 61.9%;
}
.advantages-item-third p {
    width: 70.24%;
}
.advantages-item-fourth p {
    width: 65%;
}
/* order information section */
.order-information-section {
    position: relative;
    padding-bottom: 7.81%;
}
.order-information-bg {
    position: relative;
    padding-top: 28.6%;
    width: 100%;
    z-index: -1;
}
.order-information-bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.order-information-container {
    padding-left: 6.67%;
    padding-right: 6.67%;
    position: absolute;
    top: 0;
    height: 28.65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-information-text {
    margin-left: 0.26%;
    width: 48.61%;
    color: #F5F5F5;
    line-height: 1.32em;
}
.order-information-text span {
    user-select: text;
}
.order-options {
    margin-top: 5.12%;
    width: 51.39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.e-mail, .download-text {
    color: #F5F5F5;
    font-size: clamp(15px, 1.25vw, 31px);
    font-weight: 700;
    white-space: nowrap;
}
.download-text {
    text-transform: uppercase;
}
.download-form {
    display: flex;
    align-items: center;
    width: max(36.46%, 195px) ;
    justify-content: space-between;
    cursor: pointer;
}
.download-image {
    width: 7.4%;
    height: 75%;
}
/* footer */
.footer {
    padding-top: 2.08%;
    padding-bottom: 1.09%; 
    background: #111;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    width: 11.57%;
    padding-right: 3.31%;
}
.footer-some-text {
    color: #F5F5F5;
    font-size: clamp(10px, 0.78vw, 20px);
    cursor: default;
}
.contacts a {
    display: block;
    text-align: right;
    color: #F5F5F5;
    line-height: 1.32em;
}
.contacts a:hover {
    color: #D25109;
}
.contacts a:first-child {
    margin-bottom: 5.7%;
}
.advertising {
    width: fit-content;
    margin: 0 auto;
    margin-top: 3.8%;
    display: block;
    color: #575757;
    font-size: clamp(9px, 0.624vw, 16px);
    line-height: 1.32em;
}